#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  background-color: var(--card-background);
  box-shadow: var(--shadow-l1);
  padding: 20px 0;
  transition: top 0.3s;
  z-index: 50;

  .nav-main {
    display: flex;
    width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    .title {
      font-family: "Virgil";
      font-size: 40px;
      line-height: 40px;
      font-weight: bold;
      position: absolute;
    }
    .menu--commpect {
      width: 100%;
    }
  }
  
  &.hidden {
    top: -70px !important;
  }
  /* Menu style */
  ol.menu {
    list-style: none;
    flex-direction: row;
    flex-grow: 1;
    font-size: 2rem;
    background-color: var(--card-background);
    box-shadow: var(--shadow-l1);
    display: none;
    margin: 0 calc(var(--container-padding) * -1);
    @include respond(xl) {
      padding: 15px 0;
    }

    &,
    .menu-bottom-section {
      gap: 10px;
      @include respond(xl) {
        gap: 30px;
      }
    }

    &.show {
      display: flex;
      border-radius: var(--card-border-radius);
      margin: 0 10px;
    }

    @include respond(md) {
      display: flex;
      justify-content: center;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
    }

    li {
      position: relative;
      vertical-align: middle;
      padding: 0;

      @include respond(md) {
        width: max-content;
      }

      svg {
        stroke: currentColor;
        stroke-width: 1.33;
        width: 20px;
        height: 20px;
      }

      a {
        height: 100%;
        display: inline-flex;
        align-items: center;
        color: var(--body-text-color);
        gap: var(--menu-icon-separation);
      }

      &.current {
        a {
          color: var(--accent-color);
          font-weight: bold;
        }
      }
    }

    .menu-bottom-section {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  
  #toggleButton {
    display: block;
    border: 0;
    background-color: transparent;
    align-items: center;
    @include respond(md) {
      display: none;
    }
  }
}
