#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  background-color: var(--card-background);
  box-shadow: var(--shadow-l1);
  z-index: 50;
  overflow: hidden;
  // 滚动隐藏

  .nav-main {
    position: relative;
    display: flex;
    width: calc(var(--main-container-width) + 40px);
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .title {
      font-family: "XLF";
      font-weight: 900;
      font-size: 35px;
      line-height: 35px;
      position: absolute;
      width: max-content;
    }
    .menu--commpect {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      transition: top 0.3s;
      overflow: hidden;

      &.hidden {
        top: calc(-1 * var(--nav-height));
      }

      div.menu {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: none;
        font-size: var(--nav-font-size);
        font-family: "XLF";

        @include respond(md) {
          display: block;
          background-color: transparent;
          box-shadow: none;
        }

        >span {
          display: inline-block;
          vertical-align: middle;
          border-radius: var(--card-border-radius);
          a {
            display: inline-flex;
            align-items: center;
            color: var(--body-text-color);
            >span {
              margin: 10px 0;
              line-height: calc(var(--nav-height)-30px);
              border-radius: var(--card-border-radius);
              padding: 5px 10px;
              &:hover {
                background-color: var(--main-color);
                color: aliceblue;
              }
            }
          }

          &.current {
            a {
              color: var(--accent-color);
            }
          }
        }
      }
      
      .page-name {
        display: none;
        height: var(--nav-height);
        color: var(--body-text-color);
        font-size: var(--nav-font-size);
        line-height: var(--nav-height);
        font-family: "XLF";

        @include respond(md) {
          display: block;
          width: 100%;
        }
      }
    }
    .nav-right {
      position: absolute;
      display: flex;
      flex-direction: row;
      right: 10px;
    }
  }

  .dark-mode-toggle {
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: var(--card-border-radius);
    @include respond(md) {
      display: block;
      text-align: right;
    }
  }

  // 手机界面元素

  // 菜单按钮
  #toggleButton {
    z-index: 100;
    display: block;
    border: 0;
    background-color: transparent;
    align-items: center;
    @include respond(md) {
      display: none;
    }
    padding: 0;
    margin: 0;
    color: var(--accent-color);
    width: 40px;
    height: 40px;
    margin-top: -5px;
    svg {
      stroke: currentColor;
      stroke-width: 1;
      width: 40px;
      height: 40px;
    }
  }

.search {
    display: block;
    @include respond(md) {
      display: none;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

[data-scheme="dark"] {
  .dark-mode-toggle {
    color: var(--accent-color);
    font-weight: 700;

    .icon-tabler-toggle-left {
      display: none;
    }

    .icon-tabler-toggle-right {
      display: unset;
    }
  }
}
// 暗色按钮
.dark-mode-toggle {
  color: var(--body-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: var(--menu-icon-separation);
  margin-left: 10px;

  .icon-tabler-toggle-right {
    display: none;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}
