.widget {
    display: flex;
    flex-direction: column;
    .widget-icon {
        svg {
            width: 32px;
            height: 32px;
            stroke-width: 1.6;
            color: var(--body-text-color);
        }
    }
}

/* Tag cloud widget */
.tagCloud {
    vertical-align: middle;
    .tagCloud-count {
        margin: 5px;
        font-size: 0.8em;
        border-radius: 50%;
        color: var(--body-text-color);
    }
    
    .tagCloud-tags {
        display: inline-block;
        margin: 3px 5px 0 5px;
        max-height: 50px;
        overflow: hidden;
        a {
            background: var(--card-background);
            box-shadow: var(--shadow-l1);
            border-radius: var(--tag-border-radius);
            padding: 10px 15px;
            color: var(--card-text-color-main);
            font-size: 2rem;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
    .tagCloud-tag {
        display: block;
        margin-bottom: 5px;
        text-align: center;
    }
    button {
        color: var(--body-text-color);
        font-size: 15px;
        float: right;
        border: none;
        background: none;
        padding: 0 5px 0 0;
        text-decoration: none;
        cursor: pointer;
    }
    #showMoreBtn {
        display: none; /* 初始状态隐藏按钮 */
    }
}
/* Archives widget */
.widget.archives {
    .widget-archive--list {
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
        background-color: var(--card-background);
    }

    .archives-year {
        &:not(:last-of-type) {
            border-bottom: 1.5px solid var(--card-separator-color);
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;

            span.year {
                flex: 1;
                color: var(--card-text-color-main);
                font-weight: bold;
            }

            span.count {
                color: var(--card-text-color-tertiary);
            }
        }
    }
}