<div class="info-widget">
  <div class="info-bg">
    <img src="/images/info-bg.png" alt="" />
  </div>

  <div class="site-avatar">
    <img src="/images/Morick.jpg" alt="" />
    <div class="avatar-icon">👀</div>
  </div>

  <div class="site-meta">
    <p class="site-name">Morick莫里克</p>
    <p class="site-description">假装自己是个外星人</p>
  </div>
  <div class="link">
    <a href="https://www.morick66.com/p/20240326153507/">
      More{{ partial "helper/icon" "right" }}
    </a>
  </div>
  <div class="social">
    <span class="github">
      <a href="https://github.com/Morick66" target="_blank">
        <div class="svg">{{ partial "helper/icon" "github" }}</div>
      </a>
    </span>
    <span class="email">
      <a href="mailto:morick655@163.com">
        <div class="svg">{{ partial "helper/icon" "email" }}</div>
      </a>
    </span>
  </div>
</div>
