<div class="memos">
  <h2>📃 MEMOS</h2>
  <div id="memos"></div>
  <div class="limit">
      <a href="https://memos.morick66.com/explore" target="_blank">- 查看更多 -</a>
  </div>
</div>
<script>
  if (1) {
    let url = "https://memos.morick66.com";
    fetch(url + "/api/v1/memo?creatorId=1&limit=5")
      .then((res) => res.json())
      .then((data) => {
        // 注意修改域名和用户id
        let items = [],
          html = "";
        data.forEach((item) => {
          items.push(Format(item));
        });
        if (items.length == 5)
          document.querySelector(".limit").style.display = "block";
        items.forEach((item) => {
          html += `
          <div class="memos_item">
            <div class="memos_content">${item.content}</div>
            <div class="memos_bottom">
              <div>
                <span class="memos_date">${item.date}</span>
              </div>
              <a href="${url}/m/${item.name}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z"/>
                  <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5" />
                  <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5" />
                </svg>
              </a>
              </div></div>`; // 注意修改头像链接和名称
        });
        document.getElementById("memos").innerHTML = html;
      });
    // 页面内容格式化
    function Format(item) {
      let date = getTime(new Date(item.createdTs * 1000).toString()),
        name = item.name,
        content = item.content,
        imgs = content.match(/!\[.*\]\(.*?\)/g),
        text = "";
      if (imgs)
        imgs = imgs.map((item) => {
          return item.replace(/!\[.*\]\((.*?)\)/, "$1");
        });
      if (item.resourceList.length) {
        if (!imgs) imgs = [];
        item.resourceList.forEach((t) => {
          if (t.externalLink) imgs.push(t.externalLink);
          else imgs.push(`${url}/o/r/${t.name}`);
        });
      }
      text = content
        .replace(/#(.*?)\s/g, "")
        .replace(/\!?\[(.*?)\]\((.*?)\)/g, "")
        .replace(/\{(.*?)\}/g, "");
      content = text.replace(/\[(.*?)\]\((.*?)\)/g, `<a href="$2">@$1</a>`);
      if (imgs) {
        content += `<div class="zone_imgbox">`;
        imgs.forEach(
          (e) =>
            (content += `<a href="${e}" data-fancybox="gallery" class="fancybox" data-thumb="${e}">
              <img class="no-lazyload" src="${e}"></a>`)
        );
        content += "</div>";
      }
      return {
        content: content,
        date: date,
        name: name, 
        text: text.replace(
          /\[(.*?)\]\((.*?)\)/g
        ),
      };
    }
    // 页面时间格式化
    function getTime(time) {
      let d = new Date(time),
        ls = [
          d.getFullYear(),
          d.getMonth() + 1,
          d.getDate(),
          d.getHours(),
          d.getMinutes(),
          d.getSeconds(),
        ];
      for (let i = 0; i < ls.length; i++) {
        ls[i] = ls[i] <= 9 ? "0" + ls[i] : ls[i] + "";
      }
      if (new Date().getFullYear() == ls[0])
        return ls[1] + "月" + ls[2] + "日 " + ls[3] + ":" + ls[4];
      else
        return (
          ls[0] + "年" + ls[1] + "月" + ls[2] + "日 " + ls[3] + ":" + ls[4]
        );
    }
  }
</script>
