.about .card{
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    padding: var(--card-padding);
    box-sizing: border-box;
    color: var(--card-text-color-main);
}

.about h3 {
    font-size: 13px;
    margin-top: 10px;
    color: var(--card-text-color-secondary);
}
.about {
    display: grid;
    gap: 20px;
    .info {
        height: auto;
        display: grid;
        gap: 20px;
        
        @include respond(xl) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 25px;
            height: 200px;
        }

        .name-card {
            position: relative;
            color: aliceblue;
            height: 200px;
            background: linear-gradient(120deg,#5b27ff 0,#00d4ff 100%);
        }
        .name {
            position: absolute;
            bottom: 30px;
            text-align: left;
            h2 {
                margin: 0;
                font-family: 'Virgil';
                font-size: 50px;
            }
            p {
                font-size: 20px;
                margin: 0;
            }
        }
        .motto {
            div {
                font-size: 25px;
                line-height: 1.5em;
                font-weight: bold;
                padding: 0 20px;
            }
        }
    }
    .skill {
        height: 300px;
    }

    .Me {
        display: grid;
        gap: 20px;
        @include respond(xl) {
            grid-template-columns: 2fr 1fr;
            gap: 25px;
        }
        .aboutMe {
            display: grid;

            @include respond(xl) {
                grid-template-columns: auto 1fr;
            }

            img {
                height: 100px;
                margin: 10px;
                border-radius: var(--card-border-radius);
            }
            @include respond(xl) {
                img {
                    height: 200px;
                    margin: 10px;
                }
            }
        }

        .personalities {
            position: relative;
            height: 270px;
            .title {
                position: absolute;
                top: 20px;
                right: 30px;
                text-align: right;
                z-index: 1;
                :nth-child(1){
                    margin: 0;
                    font-size: 36px;
                    font-weight: bold;
                    color: #B3879D;
                }
                :nth-child(2) {
                    margin: 0;
                    font-size: 20px;
                    color: var(--card-text-color-secondary);
                }
            }
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 200px;
                
            }
        }
    }
    .interest {
        padding-bottom: 30px;
        .interest-content {
            font-size: 20px;
            text-align: center;
            line-height: 1.5em;
            span {
                white-space: nowrap;
                margin: 10px;
                padding: 5px;
            }
            strong {
                font-size: 25px;
                font-weight: bold;
            }
        }
    }

    .aboutSite {
        position: relative;
        display: grid;
        gap: 20px;
        font-size: 15px;
        @include respond(xl) {
            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }

        .about-site-content {
            padding: 0 15px;
            line-height: 1.5em;
        }
        .la-widget {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            padding-left: 20px;
            min-height: max-content;
            span {
                padding: 5px 0; 
            }
            .name {
                font-size: 15px;
                color: var(--card-text-color-secondary);
            }
            .number {
                display: block;
                font-size: 30px;
                font-weight: bold;
            }
        }

        .link {
            position: absolute;
            right: 30px;
            bottom: 20px;
        }
    }
}