.container {
    display: flex;
    margin-left: 0;
    margin-right: 0;

    .right-sidebar {
        margin-left: 20px;
        display: none;
        height: 100%;
        width: 300px;
        flex-direction: column;
        gap: var(--widget-separation);
        @include respond(xl) {
            display: flex;
        }
        &.sticky {
            top: 0;
            @include respond(md) {
                position: sticky;
            }
        }
    }
}

.flex {
    display: flex;
    flex-direction: row;

    &.column {
        flex-direction: column;
    }

    &.on-phone--column {
        flex-direction: column;
        @include respond(md) {
            flex-direction: unset;
        }
    }

    .full-width {
        width: 100%;
    }
}

main.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    .article-main {
        min-width: 0;
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--section-separation);
        
        @include respond(md) {
            padding-top: var(--main-top-padding);
        }
        .site-main {
            display: flex;
            .post {
                width: 100%;
                flex: 1;
            }
        }
    }
}

.main-container {
    min-height: 100vh;
    align-items: flex-start;
    padding: 0 15px;
    padding-top: var(--main-top-padding);
    
    @include respond(md) {
        padding: 0;
    }
}