{{ define "body_classes" }}page-software{{ end }} {{ define "main" }}
<!-- 软件页面 -->
<div class="section-card">
  <div class="section-details">
    <h3 class="section-count">{{ T "list.page" (len .Pages) }}</h3>
    <h1 class="section-term">{{ .Title }}</h1>
    {{ with .Params.description }}
    <h2 class="section-description">{{ . }}</h2>
    {{ end }}
  </div>
</div>
<div class="article-list--compact software">
  {{ range $app := .Params.software }}
    <article>
      <a href="{{ $app.link }}" target="_blank">
      <!-- 图标 -->
      <div class="app-icon">
        <img loading="lazy" decoding="async" src="{{ $app.image }}" />
      </div>
      <!-- 信息 -->
      <div class="app-info">
        <div class="app-title">{{ $app.title }}</div>
        <div class="note">{{ $app.note }}</div>
      </div>
      <!-- 红绿灯 -->
      {{ if eq .paid "free" }}
      <div class="paid free"></div>
      {{ end }} 
      {{ if eq .paid "pay" }}
      <div class="paid pay"></div>
      {{ end }} 
      {{ if eq .paid "open" }}
      <div class="paid open"></div>
      {{ end }}
    </a>
    {{ if $app.article }}
    {{ end }}
    </article>

  {{ end }}
</div>
{{ partialCached "footer/footer" . }} {{ end }}
{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}